#btn {
    width: 200px;
    height: 200px;
    background-color: #da5040;
    color: #ffffff;
    margin: 40px auto;
    text-align: center;
    line-height: 200px;
    border-radius: 50%;
    box-shadow: 0px 10px 0px #b3382a;
    cursor: pointer;
    transition: all .3s;
}

#btn:hover {
    opacity: 0.9;
}

#btn:active {
    transform: translateY(10px);
    box-shadow: 0 0 0 #b3382a;
}